WorkflowConsorcios360.json
{
  "name": "ModeloYBD",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            },
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": [
            "INBOX"
          ]
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        800,
        352
      ],
      "id": "8dfca5d0-3a08-4ce7-bb35-7f1978f378ba",
      "name": "Recibir mail test",
      "credentials": {
        "gmailOAuth2": {
          "id": "XG3U05AmEjFLvdsp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\nconst rawText = input.content?.parts?.[0]?.text || \"\";\nconst cleanText = rawText.replace(/```json|```/g, \"\").trim();\n\ntry {\n  const data = JSON.parse(cleanText);\n  return {\n    Fecha: data.fecha,\n    Rubro: data.rubro,\n    Proveedor: data.proveedor,\n    Detalle: data.detalle,\n    Nro_Factura: data.nro_factura,\n    Neto: parseFloat(data.neto || 0),\n    IVA: parseFloat(data.iva || 0),\n    Total: parseFloat(data.total || 0)\n  };\n} catch (e) {\n  throw new Error(\"Error en el formato de la factura: \" + e.message);\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        352
      ],
      "id": "6a9c6a49-4238-405c-9e69-1ef6aa62cd73",
      "name": "Limpia el JSON",
      "retryOnFail": false
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Recibir mail test').item.json.id }}",
        "message": "=Hola, se han procesado e informado las facturas de: {{ $json.cliente }}.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2208,
        352
      ],
      "id": "f3e98b53-582f-4411-95af-e203b98d83be",
      "name": "Respuesta:Facturas informadas",
      "webhookId": "78fcba9b-56c7-4ea3-9d9e-e0dc2ce5e3b0",
      "credentials": {
        "gmailOAuth2": {
          "id": "XG3U05AmEjFLvdsp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "cliente",
              "includeEmpty": true,
              "separateBy": ", "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        2064,
        352
      ],
      "id": "627549df-d4e2-4923-b360-f20d723d5f85",
      "name": "Summarize"
    },
    {
      "parameters": {
        "fieldToSplitOut": "$binary",
        "include": "allOtherFields",
        "options": {
          "includeBinary": true
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        960,
        352
      ],
      "id": "c13c04d7-494b-49b7-9228-78446921848f",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6e9e0f83-52e9-4d02-b4cc-fa88feb01fd4",
              "leftValue": "={{$binary.attachment_0.mimeType}}\n",
              "rightValue": "=pdf",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "0b5522db-6f0e-4e6e-900f-7bd67e1f53dd",
              "leftValue": "={{$binary.attachment_0.mimeType}}",
              "rightValue": "image",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1120,
        352
      ],
      "id": "3e94cda3-7af0-43b8-9c55-2db28ebe0054",
      "name": "PDF or IMG",
      "notesInFlow": false
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Actúa como un experto contable para administraciones de consorcios. Analiza el comprobante y extrae la información en formato JSON.\n\nExtrae la información de la factura y responde ÚNICAMENTE en formato JSON. Los valores de 'rubro' DEBEN ser exactamente uno de estos:\n\nSueldos y Cargas Sociales\n\nGastos de Administración\n\nServicios Públicos\n\nAbonos de Servicios\n\nMantenimiento Partes Comunes\n\nVouchers/Legales/Otros\n\nAgua Lotes\n\nEstructura JSON: { \"fecha\": \"YYYY-MM-DD\", \"rubro\": \"...\", \"proveedor\": \"...\", \"detalle\": \"...\", \"nro_factura\": \"...\", \"neto\": 0.00, \"iva\": 0.00, \"total\": 0.00 }\n\nRegla: Responde solo el JSON, sin etiquetas Markdown.\n\nReglas críticas:\n\nSi un dato no es visible, pon \"S/D\".\n\nEl campo \"monto\" debe ser un número decimal (usa punto para decimales), sin símbolos de moneda.\n\nNo inventes datos; si no estás seguro, usa el valor por defecto.",
        "inputType": "binary",
        "binaryPropertyName": "attachment_1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1360,
        448
      ],
      "id": "d25d4c2c-f714-4e33-a5a8-0ad9fc4d127f",
      "name": "Analyze document",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "ck5C6rHCroDzY5op",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Actúa como un experto contable para administraciones de consorcios. Analiza el comprobante y extrae la información en formato JSON.\n\nExtrae la información de la factura y responde ÚNICAMENTE en formato JSON. Los valores de 'rubro' DEBEN ser exactamente uno de estos:\n\nSueldos y Cargas Sociales\n\nGastos de Administración\n\nServicios Públicos\n\nAbonos de Servicios\n\nMantenimiento Partes Comunes\n\nVouchers/Legales/Otros\n\nAgua Lotes\n\nEstructura JSON: { \"fecha\": \"YYYY-MM-DD\", \"rubro\": \"...\", \"proveedor\": \"...\", \"detalle\": \"...\", \"nro_factura\": \"...\", \"neto\": 0.00, \"iva\": 0.00, \"total\": 0.00 }\n\nRegla: Responde solo el JSON, sin etiquetas Markdown.\n\nReglas críticas:\n\nSi un dato no es visible, pon \"S/D\".\n\nEl campo \"monto\" debe ser un número decimal (usa punto para decimales), sin símbolos de moneda.\n\nNo inventes datos; si no estás seguro, usa el valor por defecto.",
        "inputType": "binary",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1360,
        272
      ],
      "id": "ec9e0f96-52ff-4db8-9eea-c9bb627b76b9",
      "name": "Analyze an image",
      "retryOnFail": true,
      "alwaysOutputData": false,
      "notesInFlow": false,
      "credentials": {
        "googlePalmApi": {
          "id": "ck5C6rHCroDzY5op",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "databaseId": 351812,
        "tableId": 799105,
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 6826115,
              "fieldValue": "={{ $json.Fecha }}"
            },
            {
              "fieldId": 6826116,
              "fieldValue": "={{ $json.Rubro }}"
            },
            {
              "fieldId": 6826517,
              "fieldValue": "={{ $json.Proveedor }}"
            },
            {
              "fieldId": 6826520,
              "fieldValue": "={{ $json.Detalle }}"
            },
            {
              "fieldId": 6826528,
              "fieldValue": "={{ $json.Nro_Factura }}"
            },
            {
              "fieldId": 6826529,
              "fieldValue": "={{ $json.Neto }}"
            },
            {
              "fieldId": 6826531,
              "fieldValue": "={{ $json.IVA }}"
            },
            {
              "fieldId": 6826533,
              "fieldValue": "={{ $json.Total }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        1824,
        352
      ],
      "id": "d68400e6-379e-42d7-8a63-6c25a1e7187a",
      "name": "Carga BD",
      "credentials": {
        "baserowApi": {
          "id": "UpBlzkGEYEsqiIt8",
          "name": "Baserow account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Recibir mail test": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpia el JSON": {
      "main": [
        [
          {
            "node": "Carga BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Respuesta:Facturas informadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta:Facturas informadas": {
      "main": [
        []
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "PDF or IMG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF or IMG": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "Limpia el JSON",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Limpia el JSON",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Carga BD": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "998971ad-4ad4-4848-86a8-0a50596c8856",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3e1e19d9c6c7527d18130106e159d3297cb67150aeb22cab7b961f8fd601d227"
  },
  "id": "5BAgueDbKZUzFbGv",
  "tags": []
}